p {font-style: italic; font-size: 1.5rem;}
span{color: aqua;
}
div{background-color: blue;}

img{width: 200px;}
body{background-color: blue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.red{color: violet;font-size: 0vmin;}

.bigfont{font-size: medium;}

